<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="RAPORTYConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=RAPORTY;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="PS_PRODConnectionString" connectionString="Data Source=db2008;Initial Catalog=PS_PROD;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="PS_PRODConnectionString1" connectionString="Data Source=DB2008;Initial Catalog=PS_PROD;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="KARTY_PRODUKCJIConnectionString" connectionString="Data Source=database2;Initial Catalog=KARTY_PRODUKCJI;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="Baza_technolConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=Baza_technol;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="Planowanie_szlifiernia_wbConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=&quot;Planowanie szlifiernia_wb&quot;;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="Planowanie_szlifiernia_wbConnectionString1" connectionString="Data Source=database2;Initial Catalog=&quot;Planowanie szlifiernia_wb&quot;;User ID=valvex;Password=valvex123;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="KARTY_PRODUKCJIConnectionString1" connectionString="Data Source=DATABASE2;Initial Catalog=KARTY_PRODUKCJI;User ID=valvex;Password=valvex123;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="transConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=trans;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.transConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=trans;Persist Security Info=True;User ID=valvex" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.PS_PRODConnectionString1" connectionString="Data Source=DB2008;Initial Catalog=PS_PROD;Persist Security Info=True;User ID=valvex" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.KARTY_PRODUKCJIConnectionString" connectionString="Data Source=database2;Initial Catalog=KARTY_PRODUKCJI;Persist Security Info=True;User ID=valvex" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.transConnectionString1" connectionString="Data Source=database2;Initial Catalog=trans;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.Planowanie_szlifiernia_wbConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=&quot;Planowanie szlifiernia_wb&quot;;Persist Security Info=True;User ID=valvex" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.Planowanie_szlifiernia_wbConnectionString1" connectionString="Data Source=database2;Initial Catalog=&quot;Planowanie szlifiernia_wb&quot;;User ID=valvex;Password=valvex123;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.RAPORTYConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=RAPORTY;Persist Security Info=True;User ID=valvex" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.RAPORTYConnectionString1" connectionString="Data Source=database2;Initial Catalog=RAPORTY;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.PS_PRODConnectionString" connectionString="Data Source=db2008;Initial Catalog=PS_PROD;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.KARTY_PRODUKCJIConnectionString1" connectionString="Data Source=DATABASE2;Initial Catalog=KARTY_PRODUKCJI;User ID=valvex;Password=valvex123;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.Baza_technolConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=Baza_technol;Persist Security Info=True;User ID=valvex" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.Baza_technolConnectionString1" connectionString="Data Source=DATABASE2;Initial Catalog=Baza_technol;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.KARTY_PRODUKCJIConnectionString2" connectionString="Data Source=database2;Initial Catalog=KARTY_PRODUKCJI;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="WebService_SharePoint.Properties.Settings.RAPORTYConnectionString2" connectionString="Data Source=DATABASE2;Initial Catalog=RAPORTY;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    <add name="RAPORTYConnectionString3" connectionString="Data Source=DATABASE2;Initial Catalog=RAPORTY;User ID=valvex;Password=valvex123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation targetFramework="4.6" debug="true" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
        <binding name="BasicHttpBinding_ILogic2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.20:10001/Service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="SP2013.Service1Soap" name="Service1Soap" />
      <endpoint address="http://192.168.1.20:10001/Service1.asmx" binding="customBinding" bindingConfiguration="Service1Soap12" contract="SP2013.Service1Soap" name="Service1Soap12" />
      <endpoint address="http://web1:8731/XELCODE.Server.Valvex/Logic/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogic2" contract="JDE_REF.ILogic2" name="BasicHttpBinding_ILogic2" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
<!--ProjectGuid: 58CDA949-D3FD-4C3E-8F77-54DBB7D966D3-->